* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #dddbdb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
}

@font-face {
    font-family: 'tostada';
    src: url(../styles/tostada-font/tostada-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

h1 {
    color:#0f0249;
    font-family: 'tostada', sans-serif;
    letter-spacing: 3px;
    margin-right: 1em;
    margin-top: 0.2em;
}

.add,
.list,
.message {
    display: block;
    border: 1px solid #e1bcc5;
    justify-content: center;
    align-items: center;
    
}

.add-hotel,
.add-manager,
.list-manager,
.list-hotel {
    padding: 20px;
    display: block;
}


.form-input,
.button {
    height: 40px;
    width: 60%;
    margin: 2px;
    border-radius: 4px;
}

.button {
    background-color: #e1bcc5;
    text-transform: uppercase;
    color: #0f0249;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
}

tr,
td {
    border: 1px, solid, #e1bcc5;
    padding: 10px;
}

@media screen and (max-width: 950px) {

    h1,
    h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {

    h1,
    h2 {
        font-size: 0.9em;
    }
}

