* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #dddbdb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'tostada';
    src: url(../styles/tostada-font/tostada-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

h1 {
    color:#0f0249;
    font-family: 'tostada', sans-serif;
    letter-spacing: 3px;
    margin-right: 1em;
    margin-top: 0.2em;
    float: right;
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 35vw;
    overflow-wrap: wrap;
    background-color: #0f0249;
    float: left;
}

.side-menu ul {
    margin-top: 70%;
}

.side-menu a {
    font-size: 1.2em;
    color:#dddbdb;
    display: block;
    margin: 1em;
}

.side-menu li {
    border-bottom: solid 1px;
    border-color: #dddbdb;
}

.side-menu a.active {
    background-color: #0f0249ce;
}

.container {
    height: 100vh;
    display: flex;
    margin-left: 280px;
}

#content {
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.form-input,
.button {
    height: 30px;
    width: 60%;
    margin: 2px;
    border-radius: 4px;
}

.button {
    background-color: #e1bcc5;
    text-transform: uppercase;
    color: #0f0249;
    font-weight: bold;
}

@media screen and (max-width: 950px) {

    .side-menu {
        max-width: 30vw;
    }

    .side-menu a {
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    .container {
        margin-left: 31vw;
    }
}

@media screen and (max-width: 700px) {

    .side-menu a {
        font-size: 0.8em;
    }

    h1 {
        font-size: 0.9em;
    }
}

